/***********************/
/******** RESET ********/
/***********************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%; }

/***********************/
/****** VARIABLES ******/
/***********************/
/***********************/
/**** MEDIA QUERIES ****/
/***********************/
/***********************/
/****** TYPOGRAPHY *****/
/***********************/
body {
  font-family: 'Georgia', serif;
  color: #BF935F; }

h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  hyphens: auto; }
  .section--photoBG h1 {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

h2 {
  font-size: 25px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #11abc2; }

p {
  font-size: 18px;
  line-height: 1.4; }
  .section--photoBG p {
    color: #fff; }
  .productDescription p {
    font-size: 14px;
    line-height: 1.5; }

.footerTagline {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px; }

.copyright {
  color: #fff;
  text-transform: uppercase; }

strong {
  font-weight: 700; }

sup {
  vertical-align: super;
  font-size: 50%;
  border-bottom: 2px solid;
  padding-bottom: 2px; }

.beerStatsLockup {
  max-width: 280px;
  margin: 0 auto 60px;
  text-align: left; }

.beerStatsLockup__label {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  margin-bottom: 10px; }

.beerStatsLockup__number {
  font-size: 35px;
  text-align: center; }

.beerStatsLockup__hops {
  font-size: 35px;
  margin-bottom: 15px;
  text-align: left;
  border-bottom: 2px solid #BF935F;
  padding-bottom: 15px; }

/***********************/
/****** STRUCTURE ******/
/***********************/
body {
  background: #FFFEEB; }

.page {
  max-width: 1300px;
  margin: 0 auto;
  background: #fff; }

section {
  min-height: 650px;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 1600px) {
    section {
      min-height: 850px; } }

.section--photoBG {
  background-size: cover;
  background-color: red;
  background-position: 50% 50%;
  display: flex;
  align-items: center; }

.section--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 270px;
  align-items: center;
  width: calc(100% + 20px*2);
  margin-left: -20px; }
  @media (min-width: 1600px) {
    .section--grid {
      grid-auto-rows: 330px; } }
  @media (max-width: 600px) {
    .section--grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 230px; } }

.section--grid.section--grid8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 120px; }

.section--grid figure {
  overflow: hidden;
  height: 100%; }
  .section--grid figure > img {
    max-width: none;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.col-3-6 {
  grid-column: span 3; }

.col-2-6 {
  grid-column: span 2; }
  @media (max-width: 600px) {
    .col-2-6 {
      grid-column: span 1; } }

.col-2-8 {
  grid-column: span 2; }

.row-2 {
  grid-row: span 2; }

.products {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 20px*2);
  margin-left: calc(-20px); }
  @media (max-width: 600px) {
    .products {
      flex-direction: column; } }

.product {
  flex: 1;
  text-align: center;
  margin: 0 10px; }
  .product img {
    margin: 0 auto;
    mix-blend-mode: multiply; }

.beerStatsLockup__numberWrap {
  display: flex;
  justify-content: space-around;
  text-align: left;
  align-items: start;
  text-align: center; }

.textWrap {
  padding: 30px;
  text-align: center; }
  @media (max-width: 600px) {
    .textWrap {
      padding-left: 10px;
      padding-right: 10px; } }

.textWrap--fixed {
  width: 500px; }

.textWrap--half {
  width: 50%; }

.photoModule {
  object-fit: cover; }

.where-to-buy {
  background: #FFFEEB;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 0; }

footer {
  background: url(../img/pattern-bg.jpg) repeat #11abc2;
  width: 100%;
  padding: 40px 20px;
  text-align: center; }

/***********************/
/****** NAVIGATION *****/
/***********************/
.logo {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90px;
  color: red;
  transition: .5s all ease; }
  @media (max-width: 600px) {
    .logo {
      top: 4px;
      bottom: auto;
      transform: translateX(-50%);
      width: 70px; } }

.header {
  background: url(../img/pattern-bg.jpg) repeat #11abc2;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1300px;
  padding: 10px 20px;
  z-index: 10;
  border-bottom: 5px solid #BF935F;
  transition: .5s all ease; }
  @media (max-width: 600px) {
    .header {
      height: 30px; } }

.mainNav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px; }
  @media (max-width: 600px) {
    .mainNav {
      display: none; } }
  .mainNav a {
    text-transform: uppercase;
    transition: .3s all ease; }
    .mainNav a.active {
      border-bottom: 2px solid #fff; }
      .mainNav a.active:link, .mainNav a.active:active, .mainNav a.active:visited {
        color: #fff; }
    .mainNav a:link, .mainNav a:active, .mainNav a:visited {
      text-decoration: none;
      color: #FFFEEB; }
    .mainNav a:hover {
      color: #fff; }

/***********************/
/***** BEER FINDER *****/
/***********************/
.beerFinder {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 600px) {
    .beerFinder {
      flex-direction: column; } }

.beerFinder__tabs {
  display: flex; }

.beerFinder__tab {
  border: 2px solid #BF935F;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-size: 22px;
  margin: 0 auto 40px;
  cursor: pointer; }
  .beerFinder__tab.active {
    background: #BF935F;
    color: #FFFEEB; }

.searchPanel {
  padding: 0 20px 20px;
  min-width: 350px;
  flex: 1; }
  @media (max-width: 600px) {
    .searchPanel {
      min-width: 0; } }

.searchPanel__row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px; }

.searchPanel__button {
  padding: 10px;
  border: 2px solid #BF935F;
  margin: 10px;
  transition: .3s all ease;
  text-transform: uppercase;
  cursor: pointer; }
  .searchPanel__button.active {
    color: #fff;
    background: #BF935F; }

.searchbar {
  display: flex;
  align-items: center; }

.zipSearchButton {
  padding: 13px;
  color: #fff;
  background: #BF935F;
  cursor: pointer; }

input,
select {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  appearance: none; }

input {
  background: #FFFEEB;
  border: 2px solid #BF935F;
  padding: 10px;
  color: #BF935F; }
  input::placeholder {
    color: #BF935F; }

select {
  background: #BF935F;
  color: #FFFEEB;
  border-radius: 0;
  padding: 10px; }

option {
  border-radius: 0;
  padding: 10px; }

.mapPanel,
.listPanel {
  flex: 2; }
  @media (min-width: 600px) and (max-width: 768px) {
    .mapPanel,
    .listPanel {
      flex: 1; } }

.mapPanel {
  background: #BF935F; }
  @media (max-width: 600px) {
    .mapPanel {
      min-height: 400px; } }

.listPanel {
  display: none; }

/***********************/
/***** AGE OVERLAY *****/
/***********************/
.ageOverlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.ageOverlay__photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: -1; }
  .ageOverlay__photo img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.ageOverlay__textWrap {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 50%;
  display: flex;
  float: right;
  flex-direction: column; }
  @media (max-width: 600px) {
    .ageOverlay__textWrap {
      width: 95%;
      float: none; } }

.flexRow {
  flex: 1; }

.ageOverlay__button {
  font-size: 25px;
  border: 3px solid #fff;
  padding: 10px;
  flex: 1;
  margin: 20px auto;
  color: #fff;
  transition: .2s all ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  text-align: center; }
  .ageOverlay__button:hover {
    color: #BF935F;
    background: #fff;
    text-shadow: none;
    cursor: pointer; }

/***********************/
/**** MISCELLANEOUS ****/
/***********************/
.separator--top {
  margin-top: 30px;
  margin-bottom: -10px; }

.separator--vertical {
  width: 13px;
  margin-top: 12px; }

.separator--bottom {
  margin-top: 20px; }

.sealBG {
  background: url("../img/mono-seal-half.jpg") no-repeat;
  background-size: contain;
  background-position: right center;
  background-color: #FFFEEB;
  background-attachment: fixed;
  background-blend-mode: multiply; }
