/***********************/
/******** RESET ********/
/***********************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// AP ADDITIONS

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/***********************/
/****** VARIABLES ******/
/***********************/

$teal: #11abc2;
$red: red;
$white: #fff;

$sitePad: 20px;

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$extraLarge-width: 1600px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: #{$extraLarge-width}) {
    @content;
  }
}

/***********************/
/****** TYPOGRAPHY *****/
/***********************/

body {
  font-family: 'Georgia', serif;
}

h1 {
  font-size: 30px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;

  .section--photoBG & {
    color: $white;
  }
}

p {
  font-size: 18px;
  line-height: 1.4;

  .section--photoBG & {
    color: $white;
  }
}

/***********************/
/****** STRUCTURE ******/
/***********************/

section {
  min-height: 650px;
  padding-left: $sitePad;
  padding-right: $sitePad;
}

.section--photoBG {
  background-size: cover;
  background-color: red;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.section--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 200px;
  align-items: center;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
}

.col-3-6 {
  grid-column: span 3;
}

.col-2-6 {
  grid-column: span 2;
}

.row-2 {
  grid-row: span 2;
}

.products {
  display: flex;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}

.product {
  flex: 1;
}

.textWrap {
  padding: 30px;
  text-align: center;
}

.textWrap--fixed {
  width: 500px
}

.textWrap--half {
  width: 50%
}

.photoModule {
  object-fit: cover;
}

/***********************/
/****** NAVIGATION *****/
/***********************/

.logo {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  width: 100px;
  color: red;

  @include mobile {
    left: $sitePad;
    bottom: auto;
    transform: none;
    width: 70px;
  }
}

.header {
  background: $teal;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  padding: $sitePad;
  z-index: 10;

  @include mobile {

  }
}

.mainNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
