/***********************/
/******** RESET ********/
/***********************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// AP ADDITIONS

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/***********************/
/****** VARIABLES ******/
/***********************/

$teal: #11abc2;
$white: #fff;
$red: #e93f37;
$offWhite: #FFFEEB; // used in nav text
$lightBrown: #DCBF8B;
$brown: #BF935F; // used for headings and body copy

$sitePad: 20px;
$maxWidth: 1300px;

$serif: 'Morion', 'Georgia', serif;


/***********************/
/**** MEDIA QUERIES ****/
/***********************/

$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$extraLarge-width: 1600px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: #{$extraLarge-width}) {
    @content;
  }
}

/***********************/
/****** TYPOGRAPHY *****/
/***********************/

@font-face {
  font-family: 'Morion';
  src: url('../fonts/MorionRegular.eot');
  src: url('../fonts/MorionRegular.eot') format('embedded-opentype'),
       url('../fonts/MorionRegular.woff2') format('woff2'),
       url('../fonts/MorionRegular.woff') format('woff'),
       url('../fonts/MorionRegular.ttf') format('truetype'),
       url('../fonts/MorionRegular.svg#MorionRegular') format('svg');
   font-weight: 500;
}

@font-face {
  font-family: 'Morion';
  src: url('../fonts/MorionBold.eot');
  src: url('../fonts/MorionBold.eot') format('embedded-opentype'),
       url('../fonts/MorionBold.woff2') format('woff2'),
       url('../fonts/MorionBold.woff') format('woff'),
       url('../fonts/MorionBold.ttf') format('truetype'),
       url('../fonts/MorionBold.svg#MorionBold') format('svg');
   font-weight: 700;
}

body {
  font-family: $serif;
	color: $brown;
}

h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
	hyphens: auto;

  .section--photoBG & {
		letter-spacing: 5px;
    font-size: 45px;
		margin-bottom: 0;
    color: $white;
		text-shadow: 2px 2px 5px rgba(0,0,0,.3);
  }
}

.sectionHeader h1 {
	font-size: 50px;
	color: $white;
	margin: 9px auto 6px;

	@include mobile {
		font-size: 35px;
	}
}

h2 {
	font-size: 30px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
	margin-top: 20px;
	margin-bottom: -10px;
}

p {
  font-size: 20px;
  line-height: 1.6;
	margin-bottom: 10px;

  .section--photoBG & {
    color: $white;
  }

	.productDescription & {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 0;
		text-align: center;
	}
}

.footerTagline {
	font-size: 22px;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 7px;
	letter-spacing: 1px;
}

.copyright {
	color: $white;
	font-size: 12px;
	text-transform: uppercase;
}

strong {
	font-weight: 700;
}

sup {
	vertical-align: super;
	font-size: 50%;
	border-bottom: 2px solid;
	padding-bottom: 2px;
}

.beerStatsLockup {
	max-width: 300px;
	margin: 0 auto 60px;
	text-align: left;

	@include tablet {
		max-width: 100%;
	}
}

.beerStatsLockup__label {
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 2px;
}

.beerStatsLockup__number {
	font-size: 24px;
	text-align: center;
	padding: 0 10px;
	font-weight: 700;
	margin-top: 3px;

	@include tablet {
		font-size: 18px;
	}
}

.beerStatsLockup__ingredients {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 14px;
	line-height: 1.4;

	.es & { // typesetting spanish version
		font-size: 12px;
		letter-spacing: 2px;
	}

	@include tablet {
		font-size: 9px;
	}
}

/***********************/
/****** STRUCTURE ******/
/***********************/

body {
	// background: $offWhite;
	background: url('../img/background-pattern.jpg') repeat $offWhite;
}

.page {
	max-width: $maxWidth;
	margin: 0 auto;
	background: $white;
}

.homephoto {
	height: 100vh;
	background-color: $red;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

section {
  min-height: 650px;
  padding-left: $sitePad;
  padding-right: $sitePad;

	@include extraLarge {
		min-height: 850px;
	}
}

.section--photoBG {
  background-size: cover;
  background-color: red;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
}

.section--fullBleed {
	width: calc(100% + #{$sitePad}*2);
	// width: 100vw;
	margin-left: -#{$sitePad};
	overflow: hidden;
}

.sectionHeader {
	background: $teal;
	padding: 40px $sitePad 20px;
	margin-bottom: 0;
	text-align: center;
}

.sectionHeader__flourish {
	width: 400px;

	@include mobile {
		width: 250px;
	}
}

.section--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 270px;
  align-items: center;
	width: calc(100% + #{$sitePad}*2);
	margin-left: -#{$sitePad};

	.no-cssgrid &,
	.cssgridlegacy & {
		display: flex;
		flex-wrap: wrap;
	}

	@include extraLarge {
		grid-auto-rows: 330px;
	}

  @include mobile {
    // display: flex;
    // flex-direction: column;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	  grid-auto-rows: 230px;

  }
}

.section--grid.section--grid8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 120px;
}

.section--grid figure {
	overflow: hidden;
	height: 100%;

	> img {
		max-width: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.featuredImage {
	grid-row: span 2;
	grid-column: span 4;

	.no-cssgrid &,
	.cssgridlegacy & {
		width: 50%;

		@include mobile {
			width: 100%;
		}
	}
}

.galleryItem {
	grid-column: span 2;

	.no-cssgrid &,
	.cssgridlegacy & {
		width: 25%;

		@include mobile {
			width: 50%;
		}
	}
}

.textModule {
	padding: 30px;
  text-align: center;
	grid-row: span 2;
	grid-column: span 4;

	.no-cssgrid &,
	.cssgridlegacy & {
		width: 50%;

		@include mobile {
			width: 100%;
		}
	}

	@include mobile {
		padding-left: 10px;
		padding-right: 10px;
	}
}


.products {
  display: flex;
  justify-content: space-between;
	padding-top: 30px;
	width: calc(100% + #{$sitePad}*2);
	margin-left: calc(-#{$sitePad}); // note I use calc here so browsers that don't support calc() won't apply the negative margin

  @include mobile {
    flex-direction: column;
  }
}

.product {
  flex: 1;
	text-align: center;
	margin: 0 10px;

	img {
		margin: 0 auto;
		max-height: 80vh;
	}
}

.beerStatsLockup__numberWrap {
	display: flex;
	justify-content: space-around;
	text-align: left;
	align-items: start;
	text-align: center;
}

.textWrap {
  padding: 30px;
  text-align: center;

	@include mobile {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.textWrap--fixed {
  width: 500px
}

.textWrap--half {
  width: 50%
}

.photoModule {
  object-fit: cover;
}

.where-to-buy {
	background: $offWhite;
	padding-bottom: 40px;
	min-height: 0;
}

footer {
	background: url(../img/pattern-bg.jpg) repeat $teal;
	width: 100%;
	padding: 40px $sitePad;
	text-align: center;
}

/***********************/
/****** NAVIGATION *****/
/***********************/

.logo {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  width: 90px;
  color: red;
	transition: .5s all ease;
	cursor: pointer;

  @include mobile {
    // left: $sitePad;
		top: 4px;
    bottom: auto;
    transform: translateX(-50%);
    width: 70px;
  }
}

.header {
	// background: url(../img/pattern-bg.jpg) repeat $teal;
	background: $white;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
	max-width: $maxWidth;
  padding: 10px $sitePad;
  z-index: 10;
	// border-bottom: 5px solid $brown;
	transition: .5s all ease;
	display: flex;

  @include mobile {
		justify-content: space-between;
  }

	&::after {
		content: '';
		background: $brown;
		width: 100%;
		height: 5px;
		position: absolute;
		bottom: 0;
		margin-left: -20px;
		z-index: -1;
	}

	&.transparent {
		background: none;
		border-bottom: 0;

		&::after {
			height: 0;
		}
	}
}

.mainNav {
  display: flex;
  // width: 80%;
	flex: 1;
  justify-content: space-around;
	margin: 10px auto 0;

	@include mobile {
		display: none;
	}

	a {
		text-transform: uppercase;
		transition: .3s all ease;
		letter-spacing: 2px;
		position: relative;

		&::after,
		&::before {
			content: '';
			position: absolute;
			opacity: 0;
			left: 0;
			z-index: -1;
		}

		&.active {

			&::after,
			&::before {
				content: '';
				width: 100%;
				height: 2px;
				background: linear-gradient(90deg, rgba(191,147,95,0) 0%, rgba(191,147,95,1) 25%, rgba(191,147,95,1) 75%, rgba(191,147,95,0) 100%);
				border-radius: 10px;
				opacity: 1;
				transition: .8s all ease;
			}

			&::after {
				bottom: 6px;
			}

			&::before {
				top: -10px;
			}

			&:link,
			&:active,
			&:visited {
				color: $teal;
			}
		}

		&:link,
		&:active,
		&:visited {
			text-decoration: none;
			color: $teal;
		}

		&:hover {
			color: $teal;
		}
	}
}

.transparent .mainNav a.active {
	border-color: $white;

	&::after,
	&::before {
		background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 75%, rgba(255,255,255,0) 100%);
	}

	&:link,
	&:active,
	&:visited {
		color: $white;
	}
}


.languageSelect {
	margin-top: 5px;
	display: flex;
	align-items: baseline;

	a {
		&:link,
		&:active,
		&:visited,
		&:hover {
			color: $teal;
			text-decoration: none;
		}
	}

	> li {	// this is this button
		border: 1px solid $teal;
		background: none;
		font-size: 12px;
		text-transform: uppercase;
		padding: 4px 8px 2px;
		position: relative;
		margin-right: $sitePad;

		&.active {
			background: $teal;

			a {
				&:link,
				&:active,
				&:visited,
				&:hover {
					color: $white;
				}
			}
		}

		&::before { // pseudo element used for second border https://css-tricks.com/snippets/css/multiple-borders/
			content: '';
			position: absolute;
			z-index: -1;
			top: -5px;
		  left: -5px;
		  right: -5px;
		  bottom: -5px;
		  border: 2px solid $teal;
		}
	}
}

.transparent,
.ageOverlay {
	.languageSelect li {
		border-color: $white;

		&.active {
			background: $white;

			a {
				&:link,
				&:active,
				&:visited,
				&:hover {
					color: $red;
				}
			}
		}

		&::before {
			border-color: $white;
		}
	}
	a {
		&:link,
		&:active,
		&:visited,
		&:hover {
			color: $white;
		}
	}
}

.ageOverlay .languageSelect {
	margin: 10px;
}


.socialMedia {
	display: flex;
	align-items: center;

	@include mobile {

	}
}

.socialMediaIcon {
	width: 25px;
	margin-left: 10px;
}

.socialMediaIcon path {
	fill: $teal;
}

.transparent .socialMediaIcon path {
	fill: $white;
}



/***********************/
/***** BEER FINDER *****/
/***********************/

.beerFinder {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;

	@include mobile {
		flex-direction: column;
	}
}

.beerFinder__tabs {
	display: flex;
}

.beerFinder__tab {
	border: 2px solid $brown;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-size: 22px;
	margin: 0 auto 40px;
	cursor: pointer;

	&.active {
		background: $brown;
		color: $offWhite;
	}
}

.searchPanel {
	padding: 0 $sitePad $sitePad;
	min-width: 350px;
	flex: 1;

	@include mobile {
		min-width: 0;
	}
}

.searchPanel__row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
}

.searchPanel__button {
	padding: 10px;
	border: 2px solid $brown;
	margin: 10px;
	transition: .3s all ease;
	text-transform: uppercase;
	cursor: pointer;

	&.active {
		color: $white;
		background: $brown;
	}
}

.searchbar {
	display: flex;
	align-items: center;
}

.zipSearchButton {
	padding: 13px;
	color: $white;
	background: $brown;
	cursor: pointer;
}

input,
select {
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	appearance: none;
}

input {
	background: $offWhite;
	border: 2px solid $brown;
	padding: 10px;
	color: $brown;


	&::placeholder {
		color: $brown;
	}
}

select {
	background: $brown;
	color: $offWhite;
	border-radius: 0;
	padding: 10px;
}

option {
	border-radius: 0;
	padding: 10px;
}

.mapPanel,
.listPanel {
	flex: 2;

	@include tablet {
		flex: 1;
	}
}

.mapPanel {
	background: $brown;
	@include mobile {
		min-height: 400px;
	}
}

.listPanel {
	display: none;
}

/***********************/
/***** AGE OVERLAY *****/
/***********************/

.ageOverlay {
	position: fixed;
	background: rgba(0,0,0,.5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	color: $white;
	text-align: center;
}

.ageOverlay__photo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.ageOverlay__textWrap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	display: flex;
	float: right;
	flex-direction: column;

	@include mobile {
		width: 80%;
	}
}

.flexRow {
	flex: 1;
}

.flex {
	display: flex;
}

.ageOverlay__buttonWrap {
	width: 280px;
	margin: 0 auto;
}

.ageOverlay__button {
	font-size: 20px;
	border: 3px solid $white;
	padding: 10px;
	flex: 1;
	margin: 10px;
	color: $white;
	transition: .2s all ease;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0,0,0,.6);
	box-shadow: 1px 1px 0px rgba(0,0,0,.3);
	background: rgba(0,0,0,.3);
	text-align: center;

	&:hover {
		color: $brown;
		background: $white;
		text-shadow: none;
		cursor: pointer;
	}
}

.ageOverlay p {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 0;
}


/***********************/
/**** MISCELLANEOUS ****/
/***********************/

.separator--top {
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

.separator--vertical {
	width: 13px;
	margin-top: 1px;
	max-width: 100%;
}

.separator--bottom {
	margin-top: 10px;
	max-width: 100%;
}

.textModule .separator {
	width: 210px;
	margin: 0 auto 20px;
}

.separator__story--top {
	width: 260px;
	margin-bottom: 5px;
}

.separator__story--bottom {
	width: 220px;
	margin-top: 0;
	margin-bottom: 20px;
}

.separator--ageOverlay {
	width: 250px;
	margin: 10px auto;
}

.locked {
	overflow: hidden !important;

	.mainNav,
	.logo {
		opacity: 0;
	}
}
