/***********************/
/******** RESET ********/
/***********************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// AP ADDITIONS

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/***********************/
/****** VARIABLES ******/
/***********************/

$teal: #11abc2;
$white: #fff;
$offWhite: #FFFEEB; // used in nav text
$lightBrown: #DCBF8B;
$brown: #BF935F; // used for headings and body copy

$sitePad: 20px;
$maxWidth: 1300px;

/***********************/
/**** MEDIA QUERIES ****/
/***********************/

$mobile-width: 600px;
$tablet-width: 768px;
$desktop-width: 1024px;
$extraLarge-width: 1600px;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin extraLarge {
  @media (min-width: #{$extraLarge-width}) {
    @content;
  }
}

/***********************/
/****** TYPOGRAPHY *****/
/***********************/

body {
  font-family: 'Georgia', serif;
	color: $brown;
}

h1 {
  font-size: 40px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
	hyphens: auto;

  .section--photoBG & {
    color: $white;
		text-shadow: 2px 2px 5px rgba(0,0,0,.3);
  }
}

h2 {
	font-size: 25px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
	color: $teal;
}

p {
  font-size: 18px;
  line-height: 1.4;

  .section--photoBG & {
    color: $white;
  }

	.productDescription & {
		font-size: 14px;
		line-height: 1.5;
	}
}

.footerTagline {
	font-size: 30px;
	text-transform: uppercase;
	color: $white;
	margin-bottom: 20px;
}

.copyright {
	color: $white;
	text-transform: uppercase;
}

strong {
	font-weight: 700;
}

sup {
	vertical-align: super;
	font-size: 50%;
	border-bottom: 2px solid;
	padding-bottom: 2px;
}

.beerStatsLockup {
	max-width: 280px;
	margin: 0 auto 60px;
	text-align: left;
}

.beerStatsLockup__label {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.beerStatsLockup__number {
	font-size: 35px;
	text-align: center;
}

.beerStatsLockup__hops {
	font-size: 35px;
	margin-bottom: 15px;
	text-align: left;
	border-bottom: 2px solid $brown;
	padding-bottom: 15px;
}

/***********************/
/****** STRUCTURE ******/
/***********************/

body {
	background: $offWhite;
}

.page {
	max-width: $maxWidth;
	margin: 0 auto;
	background: $white;
}

section {
  min-height: 650px;
  padding-left: $sitePad;
  padding-right: $sitePad;

	@include extraLarge {
		min-height: 850px;
	}
}

.section--photoBG {
  background-size: cover;
  background-color: red;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
}

.section--grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 270px;
  align-items: center;
	width: calc(100% + #{$sitePad}*2);
	margin-left: -#{$sitePad};

	@include extraLarge {
		grid-auto-rows: 330px;
	}

  @include mobile {
    // display: flex;
    // flex-direction: column;
		grid-template-columns: 1fr 1fr 1fr;
	  grid-auto-rows: 230px;

  }
}

.section--grid.section--grid8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 120px;
}

.section--grid figure {
	overflow: hidden;
	height: 100%;

	> img {
		max-width: none;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.col-3-6 {
  grid-column: span 3;

	@include mobile {
		// grid-column: span 3;
	}
}

.col-2-6 {
  grid-column: span 2;

	@include mobile {
		grid-column: span 1;
	}
}

.col-2-8 {
	grid-column: span 2;
}

.row-2 {
  grid-row: span 2;
}


.products {
  display: flex;
  justify-content: space-between;
	width: calc(100% + #{$sitePad}*2);
	margin-left: calc(-#{$sitePad}); // note I use calc here so browsers that don't support calc() won't apply the negative margin

  @include mobile {
    flex-direction: column;
  }
}

.product {
  flex: 1;
	text-align: center;
	margin: 0 10px;

	img {
		margin: 0 auto;
		mix-blend-mode: multiply; // TODO change this once we have PNG images
	}
}

.beerStatsLockup__numberWrap {
	display: flex;
	justify-content: space-around;
	text-align: left;
	align-items: start;
	text-align: center;
}

.textWrap {
  padding: 30px;
  text-align: center;

	@include mobile {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.textWrap--fixed {
  width: 500px
}

.textWrap--half {
  width: 50%
}

.photoModule {
  object-fit: cover;
}

.where-to-buy {
	background: $offWhite;
	padding-top: 40px;
	padding-bottom: 40px;
	min-height: 0;
}

footer {
	background: url(../img/pattern-bg.jpg) repeat $teal;
	width: 100%;
	padding: 40px $sitePad;
	text-align: center;
}

/***********************/
/****** NAVIGATION *****/
/***********************/

.logo {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,50%);
  width: 90px;
  color: red;
	transition: .5s all ease;

  @include mobile {
    // left: $sitePad;
		top: 4px;
    bottom: auto;
    transform: translateX(-50%);
    width: 70px;
  }
}

.header {
	background: url(../img/pattern-bg.jpg) repeat $teal;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
	max-width: $maxWidth;
  padding: 10px $sitePad;
  z-index: 10;
	border-bottom: 5px solid $brown;
	transition: .5s all ease;

  @include mobile {
		height: 30px;
  }
}

.mainNav {
  display: flex;
  width: 100%;
  justify-content: space-around;
	margin-top: 10px;

	@include mobile {
		display: none;
	}

	a {
		text-transform: uppercase;
		transition: .3s all ease;

		&.active {
			border-bottom: 2px solid $white;

			&:link,
			&:active,
			&:visited {
				color: $white;
			}
		}

		&:link,
		&:active,
		&:visited {
			text-decoration: none;
			color: $offWhite;
		}

		&:hover {
			color: $white;
		}
	}
}



/***********************/
/***** BEER FINDER *****/
/***********************/

.beerFinder {
	display: flex;
	justify-content: space-between;

	@include mobile {
		flex-direction: column;
	}
}

.beerFinder__tabs {
	display: flex;
}

.beerFinder__tab {
	border: 2px solid $brown;
	width: 50%;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-size: 22px;
	margin: 0 auto 40px;
	cursor: pointer;

	&.active {
		background: $brown;
		color: $offWhite;
	}
}

.searchPanel {
	padding: 0 $sitePad $sitePad;
	min-width: 350px;
	flex: 1;

	@include mobile {
		min-width: 0;
	}
}

.searchPanel__row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
}

.searchPanel__button {
	padding: 10px;
	border: 2px solid $brown;
	margin: 10px;
	transition: .3s all ease;
	text-transform: uppercase;
	cursor: pointer;

	&.active {
		color: $white;
		background: $brown;
	}
}

.searchbar {
	display: flex;
	align-items: center;
}

.zipSearchButton {
	padding: 13px;
	color: $white;
	background: $brown;
	cursor: pointer;
}

input,
select {
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	appearance: none;
}

input {
	background: $offWhite;
	border: 2px solid $brown;
	padding: 10px;
	color: $brown;


	&::placeholder {
		color: $brown;
	}
}

select {
	background: $brown;
	color: $offWhite;
	border-radius: 0;
	padding: 10px;
}

option {
	border-radius: 0;
	padding: 10px;
}

.mapPanel,
.listPanel {
	flex: 2;

	@include tablet {
		flex: 1;
	}
}

.mapPanel {
	background: $brown;
	@include mobile {
		min-height: 400px;
	}
}

.listPanel {
	display: none;
}

/***********************/
/***** AGE OVERLAY *****/
/***********************/

.ageOverlay {
	position: fixed;
	background: rgba(0,0,0,.5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.ageOverlay__photo {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1;

	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

.ageOverlay__textWrap {
	position: absolute;
	top: 50%;
	right: $sitePad;
	transform: translateY(-50%);
	width: 50%;
	display: flex;
	float: right;
	flex-direction: column;

	@include mobile {
		width: 95%;
		float: none;
	}
}

.flexRow {
	flex: 1;
}

.ageOverlay__button {
	font-size: 25px;
	border: 3px solid $white;
	padding: 10px;
	flex: 1;
	margin: 20px auto;
	color: $white;
	transition: .2s all ease;
	text-shadow: 1px 1px 2px rgba(0,0,0,.6);
	box-shadow: 1px 1px 0px rgba(0,0,0,.3);
	text-align: center;

	&:hover {
		color: $brown;
		background: $white;
		text-shadow: none;
		cursor: pointer;
	}
}


/***********************/
/**** MISCELLANEOUS ****/
/***********************/

.separator--top {
	margin-top: 30px;
	margin-bottom: -10px;
}

.separator--vertical {
	width: 13px;
	margin-top: 12px;
}

.separator--bottom {
	margin-top: 20px;
}

.sealBG {
	background: url('../img/mono-seal-half.jpg') no-repeat;
	background-size: contain;
  background-position: right center;
	background-color: $offWhite;
	background-attachment: fixed;
	background-blend-mode: multiply;
}
