/***********************/
/****** VARIABLES ******/
/***********************/

$blue: blue;

/***********************/
/****** NAVIGATION *****/
/***********************/

.logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: red;
}

.header {
  background: $blue;
  height: 100px;
  position: relative;
}

.mainNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
